.categoryFish {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.categoryTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.catagoryFishList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px;
  justify-content: center;
}

.noItemsText {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  grid-column: 1 / -1;
  padding: 40px 0;
}
@media (max-width: 1200px) {
  .catagoryFishList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .catagoryFishList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .catagoryFishList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .catagoryFishList {
    grid-template-columns: 1fr;
  }
}



