.shopCardRelated {
  background-color: #eaf6ff;
  border: 1px solid #cce0f5;
  border-radius: 16px;
  overflow: hidden;
  max-width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  width: 100%;
  color: #164863;
  /* margin: 1rem; */
}

.shopCardRelated:hover {
  transform: translateY(-4px);
}

.shopCardImageSectionRelated {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.shopCardImageSectionRelated img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopIconRelated {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
  z-index: 1;
  color: #0077b6;
}

.shopCardDetailsRelated {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 16px;
  
}

.shopCardTextInfoRelated h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: #164863;
}

.shopCardTextInfoRelated p {
  font-size: 0.95rem;
  color: #164863;
}

.shopCardDeliveryRelated {
  text-align: right;
}

.deliveryTopRelated {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #0077b6;
  font-weight: 500;
  justify-content: flex-end;
}

.deliveryNoteRelated {
  font-size: 0.8rem;
  color: #777;
  margin-top: 4px;
}
@media (max-width:1100px){
  .shopCardRelated{
    max-width: 270px;
    max-height: 250px;
  }
}
@media (max-width:800px){
  .shopCardRelated{
    max-width: 230px;
    max-height: 200px;
  }
   .shopCardImageSectionRelated{
    height: 150px;
} 
.shopCardTextInfoRelated h3{
font-size: 13px;
}
.shopCardTextInfoRelated p{
font-size: 13px;
}
.deliveryTopRelated ion-icon{
font-size: 14px;
}
.deliveryTopRelated h4{
font-size: 14px;
}
.deliveryNoteRelated{
  font-size: 13px;
}
}
@media (max-width:500px){
  .shopCardRelated{
     max-width: 180px;
    max-height: 150px;
  }
.shopCardDetailsRelated{
    padding: 10px;
}
.shopCardTextInfoRelated h3{
    font-size: 10px;
}
.shopCardTextInfoRelated p{
    font-size: 9px;
}
.shopCardImageSectionRelated{
    height: 100px;
}
.deliveryTopRelated ion-icon{
    font-size: 9px;
}
.deliveryTopRelated h4{
    font-size: 9px;
}
.deliveryNoteRelated{
    font-size: 9px;
}
.shopIconRelated{
    font-size: 13px;
    padding: 4px;
}
}
@media (max-width:400px){
  .shopCardRelated{
     max-width: 100px;
    max-height: 100px;
  }
  .shopIconRelated{
    top: 5px;
    left: 5px;
    font-size: 4px;
  }
    .shopCardImageSectionRelated{
        height: 80px;
    }
    .shopCardDetailsRelated{
        padding: 6px;
    }
    .shopCardTextInfoRelated h3{
        font-size: 6px;
        margin-bottom: 2px;
    }
    .shopCardTextInfoRelated p{
        font-size: 6px;
    }
    .deliveryTopRelated ion-icon{
        font-size: 6px;
    }
    .deliveryTopRelated h4{
        font-size: 6px;
    }
    .deliveryNoteRelated{
        font-size: 6px;
        margin-top: 0;
    }
    .shopIconRelated{
    font-size: 10px;
    padding: 3px;
}

}