* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 font-family: "Quicksand", sans-serif;
 background-color: #ddf2fd;
 
}
.adminRightPage{
  margin-left: 260px;
    flex:1;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    transition: margin-left 0.3s ease;

}
.loginsignupPageCustomer{
  background-color: #ddf2fd;
}

@media (max-width:800px){
  .adminRightPage{
    margin-left: 230px;
  }
}
@media (max-width:500px){
  .adminRightPage{
    margin-left: 0;
  }
  .loginsignupPageCustomer{
    background-color: #fff;
  }
}